body {
    background-color: #659DBD;
}

.inputField {
    display: flex;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 6rem;
    font-size: large;
    border: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
   
}

.inputFields {
    display: flex;
    background-color: #FBEEC1;
}

.title {
    text-align: center;
    color: white;
    font-family: 'Robot', sans-serif;
    margin-top: 3rem;
    font-size: 4rem;
}

.button1 {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: white;
    color: black;
    border: white;
    padding: 1.5rem;
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: 150ms;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.button1:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: xx-large;
    transition: 200ms;
}

.result {
    background-color: #FBEEC1;
    font-size: xx-large;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 3rem;
}



.previous {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
}

.pResult {
    background-color: #FBEEC1;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    color: rgb(42, 42, 42);
}

.box {
    padding: 10rem;
    margin-inline: 30rem;
    margin-top: 5rem;
    background-color: #FBEEC1;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

.buttonFlex {
    display: flex;
}

@media (max-width: 1282px) {
    .inputField {
        flex-direction: column;
        gap: 1rem;
    }
    .inputFields {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 1658px) {
    .box {
        margin-inline: 15rem;
    }
}
